# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
.next/
.turbo/
coverage/

# Deploy
.vercel/

# Env files
.env
.env.*
!.env.example
